*{
    font-family: Verdana;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #dbe6f6, #c5796d);
    
}

main{
    margin-top: 5vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes float{
    from{
        position: relative;
        top: 0;
    }
    10%{
        position: relative;
        top: -2vh;
    }
    20%{
        position: relative;
        top: 0vh;
    }
    35%{
        position: relative;
        top: -2vh;
    }
    50%{
        position: relative;
        top: 0;
    }
    to{
        position: relative;
        top: 0;
    }
}
.esp32-image{
    animation: float 2s 5s ease-out infinite;
}
.header0{
    width: 100%;
    height: 6.5vh;
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60%;
    align-items: center;
    user-select: none;
}
@media only screen and (max-width: 767px) {
    .header0{
        width: 40%;
        margin-left: 10%;
        height: 6.5vh;
        position: relative;
        top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0%;
        align-items: center;
        user-select: none;
        
    }
    .speech-bubble {
        z-index: -1;
        position: absolute;
        top: -50%;
        right: 20em;
        transform: translateX(40%);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
        background-color: #fff;
        color: #000;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        width: 150px;
        height: 10vh;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #okBtn{
        transform: translateX(200%) translateY(-2.5vh);
    }
    a{
        display: none;
    }
}  

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15rem;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
@keyframes slide-border {
    0% {
      width: 0;
      left: 50%;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 100%;
      left: 2%;
    }
}

.clickables {
    position: fixed;
    top: 2vh;
    padding: 15px 5px 15px 5px;
}
.clickables::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}
.clickables:hover::before {
    animation: slide-border 0.3s ease-out forwards;
    animation-direction: normal;
}
.title{
    width: 6rem;
    height: 3vh;
}
.con{
    width: max-content;
    width: 6rem;
    height: 8vh;
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.title::before{
    z-index: -1;
    content: "";
    position: absolute;
    background-color: lightblue;
    border-radius: 4px;
    height: 3.5vh;
    width: 1rem;
    border-radius: 1px;
    transition: all ease .2s;
}
.con:hover .title::before{
    width: 4rem;
    transform: translateX(.8rem);
}



.ss{
    font-size: smaller;
}
.espbubble{
    text-align: center;
}
.esp32-container {
  position: relative;
  display: inline-block;
  margin: auto;
}

.esp32-image {
  width: 200px;
  height: auto;
  user-select: none;
}

.speech-bubble {
  z-index: -1;
  position: absolute;
  top: -50%;
  right: 20em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  height: 10vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(45deg) translateX(2em) translateY(-2.5em);
}

.esp32-container:hover .speech-bubble {
  visibility: visible;
  opacity: 1;
}
.esp32-container:hover .esp32-image{
    animation: none;
}


#tuto{
    animation: none;
    background-clip: border-box;
    border-radius: 2px;
    border-spacing: 50px;
}
@keyframes encounter{
    from{
        border: 5px solid rgb(255, 0, 0);   
    }
    to{
        border: 5px solid rgb(255, 0, 0, .2);
    }
}

.con2{
    position: absolute;
    transform: rotate(15deg);
    top: -17%;
    left: -1.5em;
}

#okBtn{
    z-index: 9999;
    background-color: lightblue;
    height: 20px;
    width: 35px;
    user-select: none;
}
#okBtn::before{
    z-index: -1;
    content: "";
    height: 18px;
    width: 8px;
    position: absolute;
    background-color: lightblue;
    transform: translateX(31px) translateY(1px) rotate(24deg);
}
#okBtn:active{
    transform: scale(.8);
}
footer{
    text-align: center;
    font-size: small;
    color: rgba(109, 109, 109, 0.723);
    font-family: monospace;
    pointer-events: none;
    user-select: none;
}

/**##########################################**/

.dropdown {
    position: relative;
    display: none;
    float: right;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: max-height 0.3s ease;
    max-height: max-content;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

@media (max-width: 767px) {
    .dropdown {
        position: absolute;
        top: 3.2vh;
        right: 5vw;
        display: inline-block;
    }
  
    .dropbtn {
        background-color: lightblue;
        color: black;
        border-radius: 1px;
        box-shadow: inset 1px 1px 4px black;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
  
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 9px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }
  
    .dropdown-content a {
        color: black;
        padding: 8px 12.5px;
        text-decoration: none;
        display: block;
    }
}

@media (min-width: 768px) {
    .dropdown {
        display: none;
    }
}
@media (max-width: 350px) {
    .wtf{
        position: relative;
        top: -8em;
        margin-left: 18vw;
        z-index: 999;
    }
    
    main, .header0, .dropdown, footer{
        visibility: hidden;
    }
    body{
        background-image: url('media/peakpx.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wtfI{
        display: block;
        position: absolute;
        top: -100vh;
        margin-left: 25vw;
    }
}
.wtf{
    position: relative;
    bottom: -5vh;
    left: 50px;
    z-index: 999;
    color: white;
}
.wtfI{
    display: block;
    position: relative;
    bottom: -500vh;
    left: 50px;
}
